<footer class="bg-red pt-4 pt-md-5">
    <div class="container">
        <div class="d-flex justify-content-between mb-32px">
            <div>
                <!-- navbar -->
                <div class="d-none d-md-block mb-36px">
                    <ul class="d-md-flex d-none justify-content-between">
                        <li><a class="text-white pe-4" href="product.html">系列鏡框</a></li>
                        <li><a class="text-white px-4" href="store.html">門市據點</a></li>
                        <li><a class="text-white px-4" href="blog.html">部落格</a></li>
                        <li><a class="text-white px-4" href="qna.html">常見問題</a></li>
                    </ul>
                </div>
                <!-- contact -->
                <div class="">
                    <ul>
                        <li class="mb-2">
                            <span class="material-symbols-outlined vertical-align-middle me-md-4 me-0 fs-1 text-white">
                                call
                            </span>
                            <a class="d-inline-block vertical-align-middl fs-1 text-white"
                                href="tel:+0800-000-000">0800-000-000</a>
                        </li>
                        <li>
                            <span class="material-symbols-outlined vertical-align-middle me-md-4 me-0 fs-1 text-white">
                                mail
                            </span>
                            <a class="d-inline-block vertical-align-middle fs-1 text-white"
                                href="mailto:glasses@business.com">glasses@business.com</a>
                        </li>
                    </ul>
                </div>
            </div>
            <!-- socila-media -->
            <div class="">
                <ul class="d-flex justify-content-between align-items-center social">
                    <li><a class="text-white px-md-3 px-2" href="#"><img src="../assets/images/ic_social_fb.png"
                                alt="facebook"></a></li>
                    <li><a class="text-white px-md-3 px-2" href="#"><img src="../assets/images/ic_social_ig.png"
                                alt="instagram"></a></li>
                    <li><a class="text-white px-md-3 px-2" href="#"><img src="../assets/images/ic_social_line.png"
                                alt="line"></a></li>
                </ul>
            </div>
        </div>
        <hr class="text-white">
        <div class="d-md-flex d-block justify-content-between align-items-center py-32px">
            <p class="text-white mb-2 mb-md-0">Copyright © 2023 Glasses.All rights reserved.</p>
            <ul class="d-md-flex d-block">
                <li><a class="text-white px-md-4  mb-2 m-md-0" href="#">隱私權政策</a></li>
                <li><a class="text-white ps-md-4  mb-2 m-md-0" href="#">服務條款</a></li>
            </ul>
        </div>
    </div>
</footer>