.hero{
    height: 787px;
    background: center / cover url(https://github.com/hexschool/2022-web-layout-training/blob/main/week3-4/home-header.png?raw=true);
    @include tablet() {
        background: center / cover url(https://github.com/hexschool/2022-web-layout-training/blob/main/week3-4/home-header-sm.png?raw=true);
    }
    @include mobile(){
        height: 396px;
    }
}
.social{
    img{
        width: 48px;
        @include tablet(){
            width: 40px;
        }
        @include mobile(){
            width: 24px;
        }
    }
}

.design{
    background: center / cover no-repeat url(https://github.com/hexschool/2022-web-layout-training/blob/main/week3-4/index-bg.png?raw=true);
}