.form-label{
    display: inline-block;
    margin-bottom: 8px;
}
.form-control{
    display: block;
    padding: 6px 12px;
    border: 1px solid #000000;
    background-color: transparent;
    width: 100%;
}
.check-box{
    width: 24px;
    height: 24px;
}