.pagination{
    &-link{
        font-size: 18px;
        line-height: 27px;
        padding: 12px 16px;
        border: 1px solid #555555;
        background-color: transparent;
        border-radius: 0px;
        &:hover{
            background-color: #555555;
            color: $white;
            cursor: pointer;
        }
        @include mobile(){
            font-size: 16px;
            padding: 12px;
        }
    }
}