header {
    
    .navbar {
        position: relative;
        &-brand {
            padding-top: 12px;
            padding-bottom: 12px;
            display: inline-block;
            &:hover{
                opacity: 1;
            }
        }
        .burger-menu{
            background-color: $red;
            display: none;
            &-icon{
                color: $white;
            }
            @include mobile(){
                display: block;
            }
        }
        &-nav{
            display: flex;
            justify-content: space-between;
            @include mobile(){
                position: absolute;
                top: 100%;
                right: 0;
                width: 100%;
                flex-wrap: wrap;
                transition: all 0.8s;
                max-height: 0px;
                overflow: hidden;
            }
            &.active{
                max-height: 200px;
            }
        }
    }
    .nav {
        &-item{
            @include mobile(){
                width: 50%;
                border: 1px solid $white;
            }
        }
        &-link {
            color: $white;
            font-size: 20px;
            line-height: 30px;
            padding: 8px 8px 8px 64px;
            display: block;
            text-align: center;
            background-color: $red;

            @include tablet() {
                font-size: 20px;
                line-height: 30px;
                padding: 12px;
            }
            @include mobile() {
                font-size: 16px;
                line-height: 24px;
                padding: 12px;
            }

            &:hover {
                color: $white;
            }
        }
    }
}