<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>眼鏡官網</title>
  </head>
  <body>
    <%- include('./layout/header'); -%>

    <main>
      <section class="hero">
          <div class="container h-100">
              <div class="row justify-content-end h-100 align-items-center">
                  <div class="col-auto">
                      <h1 class="fs-1 text-end text-red-dark">Promise-Desert 2020 早春系列<br>
                          <p class="h1 font-bold">看得清，才能看得遠</p>
                      </h1>
                      <button type="button" class="btn-primary d-block ms-auto">立即購買</button>
                  </div>
              </div>
          </div>
      </section>
      <section class="bg-light specialty">
          <div class="container">
              <h2 class="h2 text-red-dark font-bold text-center mb-5">用專業的心，做專業的事</h2>
              <div class="row row-cols-lg-4 row-cols-md-2 row-cols-1 gy-4">
                  <div class="col">
                      <span class="material-symbols-outlined text-red-dark text-center d-block mx-auto mb-4"
                          style="font-size: 83px;">
                          monetization_on
                      </span>
                      <h3 class="h4 font-bold text-red-dark text-center mb-2">單一價格</h3>
                      <p>無論任何度數皆不需追加費用即可擁有適合自己的薄型球面鏡片。</p>
                  </div>
                  <div class="col">
                      <span class="material-symbols-outlined text-red-dark text-center d-block mx-auto mb-4"
                          style="font-size: 83px;">
                          schedule
                      </span>
                      <h3 class="h4 font-bold text-red-dark text-center mb-2">20 分鐘即可取件</h3>
                      <p>為了您的寶貴時間著想，以豐富專業知識與技術將結帳到交件的時間縮減至最快 20 分鐘即可完成。</p>
                  </div>
                  <div class="col">
                      <span class="material-symbols-outlined text-red-dark text-center d-block mx-auto mb-4"
                          style="font-size: 83px;">
                          favorite
                      </span>
                      <h3 class="h4 font-bold text-red-dark text-center mb-2">安心售後服務</h3>
                      <p>我們提供長達 120 天的保固售後服務，不限會員資格皆享有免費深層保養及專業維修服務。</p>
                  </div>
                  <div class="col">
                      <span class="material-symbols-outlined text-red-dark text-center d-block mx-auto mb-4"
                          style="font-size: 83px;">
                          eyeglasses
                      </span>
                      <h3 class="h4 font-bold text-red-dark text-center mb-2">關於鏡片</h3>
                      <p>使用世界知名頂級品牌，抗UV、防汙鍍膜薄型非球面鏡片。</p>
                  </div>
              </div>
          </div>
      </section>
      <section class="container classical-glasses">
          <h2 class="h2 text-red-dark font-bold text-center mb-5">經典系列鏡框</h2>
          <div class="row row-cols-lg-3 row-cols-md-1 row-cols-1 gy-md-4 gy-4">
              <div class="col">
                  <img class="mb-2 mx-md-auto d-block"
                      src="https://github.com/hexschool/2022-web-layout-training/blob/main/week3-4/home-section3-1.png?raw=true"
                      alt="home-section3-1">
                  <h3 class="h2 text-red fs-italic font-black text-center">OPTICAL</h3>
              </div>
              <div class="col">
                  <img class="mb-2 mx-md-auto d-block"
                      src="https://github.com/hexschool/2022-web-layout-training/blob/main/week3-4/home-section3-2.png?raw=true"
                      alt="home-section3-2">
                  <h3 class="h2 text-red fs-italic font-black text-center">SUNGLASSES</h3>
              </div>
              <div class="col">
                  <img class="mb-2 mx-md-auto d-block"
                      src="https://github.com/hexschool/2022-web-layout-training/blob/main/week3-4/home-section3-3.png?raw=true"
                      alt="home-section3-3">
                  <h3 class="h2 text-red fs-italic font-black text-center">FUNCTIONAL</h3>
              </div>
          </div>
      </section>
      <section class="design">
          <h2 class="h2 text-white font-bold text-center mb-5">聯名設計鏡框</h2>
          <div class="container">
              <div class="row row-cols-lg-2 row-cols-md-1 row-cols-1 gy-md-4 gy-4">
                  <div class="col">
                      <img src="https://github.com/hexschool/2022-web-layout-training/blob/main/week3-4/home-section4-1.png?raw=true"
                          alt="home-section4-1">
                      <h3 class="py-2 h2 text-red fs-italic font-black text-center bg-white">DOUBLE A+</h3>
                  </div>
                  <div class="col">
                      <img src="https://github.com/hexschool/2022-web-layout-training/blob/main/week3-4/home-section4-2.png?raw=true"
                          alt="home-section4-2">
                      <h3 class="py-2 h2 text-red fs-italic font-black text-center bg-white">YOUTH</h3>
                  </div>
              </div>
          </div>
      </section>
      <section class="bg-light customer-recommend">
          <div class="container">
              <h2 class="h2 text-red-dark font-bold text-center mb-5">顧客推薦</h2>
              <div class="row row-cols-lg-4 row-cols-md-2 row-cols-1 gy-md-4 gy-3">
                  <div class="col">
                      <div class="card">
                          <img src="https://github.com/hexschool/2022-web-layout-training/blob/main/week3-4/home-section5-1.png?raw=true"
                              alt="home-section5-1">
                          <div class="card-body">
                              <div class="mb-auto">
                                  <p class="font-medium mb-2">Jessy</p>
                                  <p class="font-regular">眼鏡品質優良，下次還會想來這邊購買！</p>
                              </div>
                              <span class="text-gray fs-3">2021/06/20</span>
                          </div>
                      </div>
                  </div>
                  <div class="col">
                      <div class="card">
                          <img src="https://github.com/hexschool/2022-web-layout-training/blob/main/week3-4/home-section5-2.png?raw=true"
                              alt="home-section5-2">
                          <div class="card-body">
                              <div class="mb-auto">
                                  <p class="font-medium mb-2">凱倫</p>
                                  <p class="font-regular">做工細緻、鏡架很輕盈，待久也不會覺得有負擔，推薦給大家！</p>
                              </div>
                              <span class="text-gray fs-3">2021/04/18</span>
                          </div>
                      </div>
                  </div>
                  <div class="col">
                      <div class="card">
                          <img src="https://github.com/hexschool/2022-web-layout-training/blob/main/week3-4/home-section5-3.png?raw=true"
                              alt="home-section5-3">
                          <div class="card-body">
                              <div class="mb-auto">
                                  <p class="font-medium mb-2">悠悠</p>
                                  <p class="font-regular">謝謝客服人員的詳細回答，成功買到了喜歡的眼鏡，下次會再回購！</p>
                              </div>
                              <span class="text-gray fs-3">2020/12/25</span>
                          </div>
                      </div>
                  </div>
                  <div class="col">
                      <div class="card">
                          <img src="https://github.com/hexschool/2022-web-layout-training/blob/main/week3-4/home-section5-4.png?raw=true"
                              alt="home-section5-4">
                          <div class="card-body">
                              <div class="mb-auto">
                                  <p class="font-medium mb-2">Kyuan</p>
                                  <p class="font-regular">服務很好，品質沒有任何問題，非常喜歡。</p>
                              </div>
                              <span class="text-gray fs-3">2020/10/31</span>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
      </section>
      <section class="bg-light contact">
          <div class="container">
              <h2 class="h2 text-red-dark font-bold text-center mb-5">聯絡我們</h2>
              <div class="row justify-content-center">
                  <div class="col-lg-6 col-md-10">
                      <p class="fs-3 mb-4">我們相當重視您的意見，若您有任何疑問，可先參考「常見問題」，若仍有任何問題，請填妥以下資料，我們會在近期與您聯繫。</p>
                      <form action="" method="get">
                          <div class="mb-4">
                              <label for="name" class="form-label">姓名</label>
                              <input type="name" class="form-control" id="name" placeholder="陳小明">
                            </div>
                          <div class="mb-4">
                              <label for="tel" class="form-label">聯絡電話</label>
                              <input type="tel" class="form-control" id="tel" placeholder="0912-345-678">
                            </div>
                          <div class="mb-4">
                              <label for="email" class="form-label">電子信箱</label>
                              <input type="email" class="form-control" id="email" placeholder="example@email.com">
                            </div>
                          <div class="mb-4">
                              <label for="comment" class="form-label">意見反應</label>
                              <textarea class="form-control" name="comment" id="comment" cols="30" rows="10"></textarea>
                            </div>
                          <div class="mb-4 d-flex align-items-center">
                              <input class="m-1 check-box" type="checkbox" name="check" id="check">
                              <label for="check" class="form-label mb-0">我同意隱私權政策，並同意依隱私權政策中所述的方式處理自己的資料。</label>
                            </div>
                      </form>
                      <button type="button" class="btn-primary d-block mx-auto w-75">確認送出</button>
                  </div>
              </div>

          </div>
      </section>
  </main>

    <%- include('./layout/footer'); -%>
    <%- include('./layout/jquery'); -%>
    
    <script type="module" src="../main.js"></script>
  </body>
</html>
