<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>產品 - 眼鏡官網</title>
</head>

<body>
  <%- include('./layout/header'); -%>
    <div class="container product">
      <!-- tab -->
      <ul class="nav nav-tabs row row-cols-3 product-navbar gx-0" id="myTab" role="tablist">
        <li class="nav-item" role="presentation">
          <button class="product-navbar-link active" id="OPTICAL-tab" data-bs-toggle="tab"
            data-bs-target="#OPTICAL-tab-pane" type="button" role="tab" aria-controls="OPTICAL-tab-pane"
            aria-selected="true">OPTICAL</button>
        </li>
        <li class="nav-item" role="presentation">
          <button class="product-navbar-link" id="SUNGLASSES-tab" data-bs-toggle="tab"
            data-bs-target="#SUNGLASSES-tab-pane" type="button" role="tab" aria-controls="SUNGLASSES-tab-pane"
            aria-selected="true">SUNGLASSES</button>
        </li>
        <li class="nav-item" role="presentation">
          <button class="product-navbar-link" id="FUNCTIONAL-tab" data-bs-toggle="tab"
            data-bs-target="#FUNCTIONAL-tab-pane" type="button" role="tab" aria-controls="FUNCTIONAL-tab-pane"
            aria-selected="true" disabled>FUNCTIONAL</button>
        </li>
      </ul>
      <!-- content -->
      <div class="tab-content" id="myTabContent">
        <!-- Celluloid Combi賽璐珞鈦金屬混合鏡框 -->
        <div class="tab-pane fade show active" id="OPTICAL-tab-pane" role="tabpanel" aria-labelledby="OPTICAL-tab"
          tabindex="0">
          <!-- banner -->
          <div class="d-flex banner">
            <div class="banner-img">
              <img class="d-lg-block d-none w-100"
                src="https://github.com/hexschool/2022-web-layout-training/blob/main/week3-4/product-header-1.png?raw=true"
                alt="product-header-1">
              <img class="d-lg-none d-md-block w-100"
                src="https://github.com/hexschool/2022-web-layout-training/blob/main/week3-4/product-header-sm-1.png?raw=true"
                alt="product-header-sm-1">
            </div>
            <div class="banner-img">
              <img class="d-lg-block d-none w-100"
                src="https://github.com/hexschool/2022-web-layout-training/blob/main/week3-4/product-header-2.png?raw=true"
                alt="product-header-2">
              <img class="d-lg-none d-md-block w-100"
                src="https://github.com/hexschool/2022-web-layout-training/blob/main/week3-4/product-header-sm-2.png?raw=true"
                alt="product-header-sm-2">
            </div>
          </div>
          <div class="container optical">
            <h2 class="h2 text-center font-medium">Celluloid Combi</h2>
            <h3 class="h3 text-center mb-32px">賽璐珞鈦金屬混合鏡框</h3>
            <div class="row row-cols-lg-4 row-cols-md-2 gy-5">
              <div class="col">
                <div class="card">
                  <div class="card-img">
                    <img
                      src="https://github.com/hexschool/2022-web-layout-training/blob/main/week3-4/product-1.png?raw=true"
                      alt="product-1">
                  </div>
                  <div class="card-body">
                    <div class="d-flex justify-content-between">
                      <h4 class="h4"><a class="text-primary" href="#">BJ41600S</a></h4>
                      <span class="text-red h4 font-medium">NTD3,490</span>
                    </div>
                    <span class="color-box"></span>
                    <span class="color-box"></span>
                  </div>
                </div>
              </div>
              <div class="col">
                <div class="card">
                  <div class="card-img">
                    <img
                      src="https://github.com/hexschool/2022-web-layout-training/blob/main/week3-4/product-2.png?raw=true"
                      alt="product-2">
                  </div>
                  <div class="card-body">
                    <div class="d-flex justify-content-between">
                      <h4 class="h4"><a class="text-primary" href="#">BJ41600S</a></h4>
                      <span class="text-red h4 font-medium">NTD3,490</span>
                    </div>
                    <span class="color-box"></span>
                    <span class="color-box"></span>
                  </div>
                </div>
              </div>
              <div class="col">
                <div class="card">
                  <div class="card-img">
                    <img
                      src="https://github.com/hexschool/2022-web-layout-training/blob/main/week3-4/product-3.png?raw=true"
                      alt="product-3">
                  </div>
                  <div class="card-body">
                    <div class="d-flex justify-content-between">
                      <h4 class="h4"><a class="text-primary" href="#">BJ41600S</a></h4>
                      <span class="text-red h4 font-medium">NTD3,490</span>
                    </div>
                    <span class="color-box"></span>
                    <span class="color-box"></span>
                  </div>
                </div>
              </div>
              <div class="col">
                <div class="card">
                  <div class="card-img">
                    <img
                      src="https://github.com/hexschool/2022-web-layout-training/blob/main/week3-4/product-4.png?raw=true"
                      alt="product-4">
                  </div>
                  <div class="card-body">
                    <div class="d-flex justify-content-between">
                      <h4 class="h4"><a class="text-primary" href="#">BJ41600S</a></h4>
                      <span class="text-red h4 font-medium">NTD3,490</span>
                    </div>
                    <span class="color-box"></span>
                    <span class="color-box"></span>
                  </div>
                </div>
              </div>
              <div class="col">
                <div class="card">
                  <div class="card-img">
                    <img
                      src="https://github.com/hexschool/2022-web-layout-training/blob/main/week3-4/product-5.png?raw=true"
                      alt="product-5">
                  </div>
                  <div class="card-body">
                    <div class="d-flex justify-content-between">
                      <h4 class="h4"><a class="text-primary" href="#">BJ41600S</a></h4>
                      <span class="text-red h4 font-medium">NTD3,490</span>
                    </div>
                    <span class="color-box"></span>
                    <span class="color-box"></span>
                  </div>
                </div>
              </div>
              <div class="col">
                <div class="card">
                  <div class="card-img">
                    <img
                      src="https://github.com/hexschool/2022-web-layout-training/blob/main/week3-4/product-6.png?raw=true"
                      alt="product-6">
                  </div>
                  <div class="card-body">
                    <div class="d-flex justify-content-between">
                      <h4 class="h4"><a class="text-primary" href="#">BJ41600S</a></h4>
                      <span class="text-red h4 font-medium">NTD3,490</span>
                    </div>
                    <span class="color-box"></span>
                    <span class="color-box"></span>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="container mb-80px">
            <ul class="d-flex justify-content-center pagination">
              <li><button class="pagination-link" type="button">上一頁</button></li>
              <li><button class="pagination-link" type="button">1</button></li>
              <li><button class="pagination-link" type="button">2</button></li>
              <li><button class="pagination-link" type="button">3</button></li>
              <li><button class="pagination-link" type="button">4</button></li>
              <li><button class="pagination-link" type="button">5</button></li>
              <li><button class="pagination-link" type="button">下一頁</button></li>
            </ul>
          </div>
        </div>
        <!-- 2020 NEW COLLECTION賽璐珞鈦金屬混合鏡框 -->
        <div class="tab-pane fade" id="SUNGLASSES-tab-pane" role="tabpanel" aria-labelledby="SUNGLASSES-tab"
          tabindex="0">
          <!-- banner -->
          <div class="d-flex">
            <div>
              <img class="d-lg-block d-none w-100"
                src="https://github.com/hexschool/2022-web-layout-training/blob/main/week3-4/product-header-3.png?raw=true"
                alt="product-header-3">
              <img class="d-lg-none d-block w-100"
                src="https://github.com/hexschool/2022-web-layout-training/blob/main/week3-4/product-header-sm-3.png?raw=true"
                alt="product-header-sm-3">
            </div>
            <div>
              <img class="d-lg-block d-none w-100"
                src="https://github.com/hexschool/2022-web-layout-training/blob/main/week3-4/product-header-4.png?raw=true"
                alt="product-header-4">
              <img class="d-lg-none d-block w-100"
                src="https://github.com/hexschool/2022-web-layout-training/blob/main/week3-4/product-header-sm-4.png?raw=true"
                alt="product-header-sm-4">
            </div>
          </div>
          <div class="container SUNGLASSES">
            <h2 class="h2 text-center font-medium">2020 NEW COLLECTION</h2>
            <h3 class="h3 text-center mb-32px">賽璐珞鈦金屬混合鏡框</h3>
            <div class="row row-cols-lg-4 row-cols-md-2 gy-5">
              <div class="col">
                <div class="card">
                  <div class="card-img">
                    <img
                      src="https://github.com/hexschool/2022-web-layout-training/blob/main/week3-4/product-7.png?raw=true"
                      alt="product-7">
                  </div>
                  <div class="card-body">
                    <div class="d-flex justify-content-between">
                      <h4 class="h4"><a class="text-primary" href="#">BJ41600S</a></h4>
                      <span class="text-red h4 font-medium">NTD3,490</span>
                    </div>
                    <span class="color-box"></span>
                    <span class="color-box"></span>
                  </div>
                </div>
              </div>
              <div class="col">
                <div class="card">
                  <div class="card-img">
                    <img
                      src="https://github.com/hexschool/2022-web-layout-training/blob/main/week3-4/product-8.png?raw=true"
                      alt="product-8">
                  </div>
                  <div class="card-body">
                    <div class="d-flex justify-content-between">
                      <h4 class="h4"><a class="text-primary" href="#">BJ41600S</a></h4>
                      <span class="text-red h4 font-medium">NTD3,490</span>
                    </div>
                    <span class="color-box"></span>
                    <span class="color-box"></span>
                  </div>
                </div>
              </div>
              <div class="col">
                <div class="card">
                  <div class="card-img">
                    <img
                      src="https://github.com/hexschool/2022-web-layout-training/blob/main/week3-4/product-9.png?raw=true"
                      alt="product-9">
                  </div>
                  <div class="card-body">
                    <div class="d-flex justify-content-between">
                      <h4 class="h4"><a class="text-primary" href="#">BJ41600S</a></h4>
                      <span class="text-red h4 font-medium">NTD3,490</span>
                    </div>
                    <span class="color-box"></span>
                    <span class="color-box"></span>
                  </div>
                </div>
              </div>
              <div class="col">
                <div class="card">
                  <div class="card-img">
                    <img
                      src="https://github.com/hexschool/2022-web-layout-training/blob/main/week3-4/product-10.png?raw=true"
                      alt="product-10">
                  </div>
                  <div class="card-body">
                    <div class="d-flex justify-content-between">
                      <h4 class="h4"><a class="text-primary" href="#">BJ41600S</a></h4>
                      <span class="text-red h4 font-medium">NTD3,490</span>
                    </div>
                    <span class="color-box"></span>
                    <span class="color-box"></span>
                  </div>
                </div>
              </div>
              <div class="col">
                <div class="card">
                  <div class="card-img">
                    <img
                      src="https://github.com/hexschool/2022-web-layout-training/blob/main/week3-4/product-11.png?raw=true"
                      alt="product-11">
                  </div>
                  <div class="card-body">
                    <div class="d-flex justify-content-between">
                      <h4 class="h4"><a class="text-primary" href="#">BJ41600S</a></h4>
                      <span class="text-red h4 font-medium">NTD3,490</span>
                    </div>
                    <span class="color-box"></span>
                    <span class="color-box"></span>
                  </div>
                </div>
              </div>
              <div class="col">
                <div class="card">
                  <div class="card-img">
                    <img
                      src="https://github.com/hexschool/2022-web-layout-training/blob/main/week3-4/product-12.png?raw=true"
                      alt="product-12">
                  </div>
                  <div class="card-body">
                    <div class="d-flex justify-content-between">
                      <h4 class="h4"><a class="text-primary" href="#">BJ41600S</a></h4>
                      <span class="text-red h4 font-medium">NTD3,490</span>
                    </div>
                    <span class="color-box"></span>
                    <span class="color-box"></span>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="container mb-80px">
            <ul class="d-flex justify-content-center pagination">
              <li><button class="pagination-link" type="button">上一頁</button></li>
              <li><button class="pagination-link" type="button">1</button></li>
              <li><button class="pagination-link" type="button">2</button></li>
              <li><button class="pagination-link" type="button">下一頁</button></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <%- include('./layout/footer'); -%>

      <script type="module" src="../main.js"></script>
      <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz"
        crossorigin="anonymous"></script>
</body>

</html>