<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>門市據點 - 眼鏡官網</title>
</head>

<body>
    <%- include('./layout/header'); -%>

        <main>
            <section class="container store mt-96px mb-80px">
                <h2 class="h2 font-bold mb-32px border-left-red-8px ps-3">門市據點</h2>
                <div class="dropdown">
                    <label class="h4 me-md-3 me-2" for="city">選擇地區</label>
                    <select name="city" id="city">
                        <option value="tp">台北市</option>
                        <option value="tc">台中市</option>
                        <option value="kh">高雄市</option>
                    </select>
                </div>
                <div class="row row-cols-lg-3 row-cols-md-2 gy-4">
                    <div class="col">
                        <div class="card">
                            <div class="card-img">
                                <img src="https://github.com/hexschool/2022-web-layout-training/blob/main/week3-4/store-1.png?raw=true"
                                    alt="">
                            </div>
                            <h3 class="card-title">台北中山旗艦店</h3>
                            <div class="card-body">
                                <p class="mb-2"><span class="material-symbols-outlined">
                                        call
                                    </span>電話：(02)000-1234</p>
                                <p class="mb-2"><span class="material-symbols-outlined">
                                        schedule
                                    </span>營業時間：10:00-21:00</p>
                                <div class="d-flex">
                                    <span class="material-symbols-outlined">
                                        location_on
                                    </span>
                                    <p>地址：台北市中山區南京東路25巷2-1號</p>
                                </div>
                            </div>
                            <a class="card-link" href="store-content.html">詳細資訊</a>
                        </div>
                    </div>
                    <div class="col">
                        <div class="card">
                            <div class="card-img">
                                <img src="https://github.com/hexschool/2022-web-layout-training/blob/main/week3-4/store-2.png?raw=true"
                                    alt="">
                            </div>
                            <h3 class="card-title">台北綠園店</h3>
                            <div class="card-body">
                                <p class="mb-2"><span class="material-symbols-outlined">
                                        call
                                    </span>電話：(02)000-1234</p>
                                <p class="mb-2"><span class="material-symbols-outlined">
                                        schedule
                                    </span>營業時間：10:00-21:00</p>
                                <div class="d-flex">
                                    <span class="material-symbols-outlined">
                                        location_on
                                    </span>
                                    <p>地址：台北市中正區復興南路 132-1 號</p>
                                </div>
                            </div>
                            <a class="card-link" href="store-content.html">詳細資訊</a>
                        </div>
                    </div>
                    <div class="col">
                        <div class="card">
                            <div class="card-img">
                                <img src="https://github.com/hexschool/2022-web-layout-training/blob/main/week3-4/store-3.png?raw=true"
                                    alt="">
                            </div>
                            <h3 class="card-title">台中清水旗艦店</h3>
                            <div class="card-body">
                                <p class="mb-2"><span class="material-symbols-outlined">
                                        call
                                    </span>電話：(02)000-1234</p>
                                <p class="mb-2"><span class="material-symbols-outlined">
                                        schedule
                                    </span>營業時間：10:00-21:00</p>
                                <div class="d-flex">
                                    <span class="material-symbols-outlined">
                                        location_on
                                    </span>
                                    <p>地址：台中市清水區經南一路 23 號 8 樓</p>
                                </div>
                            </div>
                            <a class="card-link" href="store-content.html">詳細資訊</a>
                        </div>
                    </div>
                    <div class="col">
                        <div class="card">
                            <div class="card-img">
                                <img src="https://github.com/hexschool/2022-web-layout-training/blob/main/week3-4/store-4.png?raw=true"
                                    alt="">
                            </div>
                            <h3 class="card-title">高雄中正形象店</h3>
                            <div class="card-body">
                                <p class="mb-2"><span class="material-symbols-outlined">
                                        call
                                    </span>電話：(02)000-1234</p>
                                <p class="mb-2"><span class="material-symbols-outlined">
                                        schedule
                                    </span>營業時間：10:00-21:00</p>
                                <div class="d-flex">
                                    <span class="material-symbols-outlined">
                                        location_on
                                    </span>
                                    <p>地址：高雄市苓雅區中正路 38 號 12 樓</p>
                                </div>
                            </div>
                            <a class="card-link" href="store-content.html">詳細資訊</a>
                        </div>
                    </div>
                    <div class="col">
                        <div class="card">
                            <div class="card-img">
                                <img src="https://github.com/hexschool/2022-web-layout-training/blob/main/week3-4/store-5.png?raw=true"
                                    alt="">
                            </div>
                            <h3 class="card-title">高雄夢時代店</h3>
                            <div class="card-body">
                                <p class="mb-2"><span class="material-symbols-outlined">
                                        call
                                    </span>電話：(02)000-1234</p>
                                <p class="mb-2"><span class="material-symbols-outlined">
                                        schedule
                                    </span>營業時間：10:00-21:00</p>
                                <div class="d-flex">
                                    <span class="material-symbols-outlined">
                                        location_on
                                    </span>
                                    <p>地址：高雄市前鎮區中華一路 63 號 6 樓</p>
                                </div>
                            </div>
                            <a class="card-link" href="store-content.html">詳細資訊</a>
                        </div>
                    </div>
                </div>
            </section>
        </main>

        <%- include('./layout/footer'); -%>

            <script type="module" src="../main.js"></script>
</body>

</html>