<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('./layout/head'); -%>
    <title>台北中山旗艦店 - 眼鏡官網</title>
</head>

<body>
    <%- include('./layout/header'); -%>

        <main>
            <section class="container store-content">
                <h2 class="h2 font-bold mb-32px border-left-red-8px ps-3">門市據點</h2>
                <div class="dropdown">
                    <label for="city">選擇分店</label>
                    <select name="city" id="city">
                        <option value="tp" selected>台北中山旗艦店</option>
                        <option value="tc">台中市</option>
                        <option value="kh">高雄市</option>
                    </select>
                </div>
                <div class="row row-cols-lg-2 row-cols-md-1 row-cols-1 gy-4">
                    <div class="col">
                        <div class="card d-flex flex-column flex-lg-column flex-md-row">
                            <div class="card-img">
                                <img class="h-100" src="https://github.com/hexschool/2022-web-layout-training/blob/main/week3-4/store-1.png?raw=true"
                                    alt="">
                            </div>
                            <div class="ms-md-4 ms-lg-0">
                                <h3 class="card-title">台北中山旗艦店</h3>
                                <ul class="card-body">
                                    <li class="mb-2"><span class="material-symbols-outlined">
                                            call
                                        </span>電話：(02)000-1234</li>
                                    <li class="mb-2"><span class="material-symbols-outlined">
                                            schedule
                                        </span>營業時間：10:00-21:00</li>
                                    <li class="d-flex">
                                        <span class="material-symbols-outlined">
                                            location_on
                                        </span>
                                        <p>地址：台北市中山區南京東路25巷2-1號</p>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col">
                        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3614.1937295667535!2d121.58451357623736!3d25.061422137185172!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3442ab7e5d54f56d%3A0xd9f669d66f4a026d!2zMTE05Y-w5YyX5biC5YWn5rmW5Y2A5Y2X5Lqs5p2x6Lev5YWt5q61IFNlY3Rpb24gNjI16Jmf!5e0!3m2!1szh-TW!2stw!4v1690353298703!5m2!1szh-TW!2stw" width="100%" height="100%" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
                    </div>
                </div>
            </section>
        </main>

        <%- include('./layout/footer'); -%>

            <script type="module" src="../main.js"></script>
</body>

</html>